<!DOCTYPE html>
<html>

<head>
    <% include ./partials/content/header %>
</head>

<body>
    <div class="container">
        <h3>About</h3>
        <div class="row">
            <div class="col-sm-3">
                <a href="/">
                    <button class="btn btn-primary">Back to the Chat App</button>
                </a>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-12">
                Made using:
                <br>
                <ul>
                    <li>ExpressJS (backend)</li>
                    <li> PassportJS (Login stuff)</li>
                    <li> Mongoose (to connect to mongodb)</li>
                    <li> AJAX (for polling/updating with new messages)</li>
                    <br>
                </ul>


                <p>Messages and Users are stored in a MongoDB database (mlab).</p>
                <p>Couldn't really figure out socket.io so used ajax instead ;) .</p>

            </div>
        </div>



    </div>



</body>

</html>