<!DOCTYPE html>
<html>

<head>
    <% include ./partials/content/header %>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="./javascripts/chatappfunctions.js"></script>
</head>

<body>
    <div class="container">
        <% include ./partials/template/navbar.ejs %>

            <p>Welcome!
                <%=user.username%>
            </p>

            <div class="row">
                <div class="col-sm-12">
                    <div id="messages">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row" id="sendmessage">
                <div class="col-sm-8">
                    <input id="thismessage" onchange="sendThroughEnter()" placeholder="Enter a Message Here" class="form-control">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary" onclick="sendMessage()">Send</button>
                </div>
            </div>
    </div>
</body>

</html>
