<!DOCTYPE html>
<html>

<head>
    <% include ./partials/content/header %>
</head>

<body>
    <div class="container">
        <h1 class="jumbotron">Taha's ChatApp</h1>
        <p></p>
        <p>Please Log in:</p>
        <div class="row">
            <form method="post" action="/login">
                <div class="col-sm-4">

                    <input name="username" class="form-control" placeholder="Enter Username">
                    <br>

                    <input name="password" class="form-control" placeholder="Enter Password" type="password">
                    <br>
                    <button class="btn btn-primary">Submit</button>
                </div>

            </form>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="/register">
                    <button class="btn btn-warning">Register</button>
                </a>
            </div>
        </div>

    </div>
</body>

</html>