<!DOCTYPE html>
<html>

<head>
    <% include ./partials/content/header %>
</head>

<body>
    <div class="container">
        <h1 class="jumbotron">Taha's ChatApp</h1>
        <p>Welcome to Taha's ChatApp!</p>
        <p>Register:</p>

        <form method="POST" id="form1" action="/register">
            <div class="row">
                <div class="col-sm-3 form-group">

                    <input placeholder="Name" class="form-control" name="fullname">



                    <input placeholder="Username" class="form-control" name="username">



                    <input placeholder="Password" class="form-control" name="password" type="password">



                    <input placeholder="Email" class="form-control" name="email">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button type="submit" form="form1" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>

    </div>
</body>

</html>