body {
    font-family: "Oswald";
}

a {
    color: #00B7FF;
}

#messagetextarea {
    height: 70vh;
    width: 100%;
    overflow-x: scroll;
}

@media screen and(max-width:768px) {
    #messagetextarea {
        height: 40vh;
        width: 100%;
        overflow-x: scroll;
    }
}